In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
df = pd.read_csv("../datasets/manipulation/6.csv")
df.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Airbags
0,13328,1399,1,1,2010,1,1,3.5,186005,6.0,1,1,12
1,16621,1018,2,2,2011,1,2,3.0,192000,6.0,2,1,8
2,8467,0,3,3,2006,2,2,1.3,200000,4.0,3,2,2
3,3607,862,4,4,2011,1,1,2.5,168966,4.0,1,1,0
4,11726,446,3,3,2014,2,2,1.3,91901,4.0,1,2,4

In [2]:
df.drop(columns=["Airbags"],axis=1,inplace=True)
df.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels
0,13328,1399,1,1,2010,1,1,3.5,186005,6.0,1,1
1,16621,1018,2,2,2011,1,2,3.0,192000,6.0,2,1
2,8467,0,3,3,2006,2,2,1.3,200000,4.0,3,2
3,3607,862,4,4,2011,1,1,2.5,168966,4.0,1,1
4,11726,446,3,3,2014,2,2,1.3,91901,4.0,1,2

In [ ]:
df.to_csv("../datasets/manipulation/7.csv")