In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("datasets/manipulation/car_price_prediction.csv")
df.head()
#df.describe(include='all')

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

## Remove ID Column

In [3]:
df.drop(columns=['ID'],inplace=True)
df.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

## Manufacturer Mapping

In [4]:
unique_manufacturer = df["Manufacturer"].unique()

# Use of AI:
# Why? -> new to python. Before mainly java (spring) and cpp
# Prompt: "in python i have a list of names which I want to put into a dictionary with an associated int value starting from 1 (so e.g. Ford - 1, Audi - 2 , Mercedes - 3 ,....)How do I do that"
# Result (with small adjustment):
manufacturer_result = {unique: i+1 for i, unique in enumerate(unique_manufacturer)}
print(manufacturer_result)

# Replace value in dataframe with according integer from the dictionary
df.replace(manufacturer_result,inplace=True)
df.head()

{'LEXUS': 1, 'CHEVROLET': 2, 'HONDA': 3, 'FORD': 4, 'HYUNDAI': 5, 'TOYOTA': 6, 'MERCEDES-BENZ': 7, 'OPEL': 8, 'PORSCHE': 9, 'BMW': 10, 'JEEP': 11, 'VOLKSWAGEN': 12, 'AUDI': 13, 'RENAULT': 14, 'NISSAN': 15, 'SUBARU': 16, 'DAEWOO': 17, 'KIA': 18, 'MITSUBISHI': 19, 'SSANGYONG': 20, 'MAZDA': 21, 'GMC': 22, 'FIAT': 23, 'INFINITI': 24, 'ALFA ROMEO': 25, 'SUZUKI': 26, 'ACURA': 27, 'LINCOLN': 28, 'VAZ': 29, 'GAZ': 30, 'CITROEN': 31, 'LAND ROVER': 32, 'MINI': 33, 'DODGE': 34, 'CHRYSLER': 35, 'JAGUAR': 36, 'ISUZU': 37, 'SKODA': 38, 'DAIHATSU': 39, 'BUICK': 40, 'TESLA': 41, 'CADILLAC': 42, 'PEUGEOT': 43, 'BENTLEY': 44, 'VOLVO': 45, 'სხვა': 46, 'HAVAL': 47, 'HUMMER': 48, 'SCION': 49, 'UAZ': 50, 'MERCURY': 51, 'ZAZ': 52, 'ROVER': 53, 'SEAT': 54, 'LANCIA': 55, 'MOSKVICH': 56, 'MASERATI': 57, 'FERRARI': 58, 'SAAB': 59, 'LAMBORGHINI': 60, 'ROLLS-ROYCE': 61, 'PONTIAC': 62, 'SATURN': 63, 'ASTON MARTIN': 64, 'GREATWALL': 65}

/tmp/ipykernel_1887/3238047406.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(manufacturer_result,inplace=True)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018,2,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,-,3,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862,4,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446,3,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

## Model Mapping

In [5]:
unique_model = df["Model"].unique()
print(len(unique_model))
model_result = {unique: i+1 for i, unique in enumerate(unique_model)}
print(model_result)

df.replace(model_result,inplace=True)
df.head()

1590

/tmp/ipykernel_1887/2957657005.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(model_result,inplace=True)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018,2,2,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,-,3,3,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862,4,4,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446,3,3,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

## Category Mapping

In [6]:
unique_category = df["Category"].unique()
print(len(unique_category))
category_result = {unique: i+1 for i, unique in enumerate(unique_category)}
print(category_result)

df.replace(category_result,inplace=True)
df.head()

11
{'Jeep': 1, 'Hatchback': 2, 'Sedan': 3, 'Microbus': 4, 'Goods wagon': 5, 'Universal': 6, 'Coupe': 7, 'Minivan': 8, 'Cabriolet': 9, 'Limousine': 10, 'Pickup': 11}

/tmp/ipykernel_1887/3166455121.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(category_result,inplace=True)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,1,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018,2,2,2011,1,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,-,3,3,2006,2,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862,4,4,2011,1,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446,3,3,2014,2,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

## Interior Boolean Mapping
1 = yes, 0 = no

In [7]:
bool_mapping = {"Yes":1,"No":0}
df.replace(bool_mapping,inplace=True)
df.head()

/tmp/ipykernel_1887/1814615233.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(bool_mapping,inplace=True)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,1,1,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018,2,2,2011,1,0,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,-,3,3,2006,2,0,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862,4,4,2011,1,1,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446,3,3,2014,2,1,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

## Fuel Type Mapping

In [8]:
unique_fuel = df["Fuel type"].unique()
print(len(unique_fuel))
fuel_result = {unique: i+1 for i, unique in enumerate(unique_fuel)}
print(fuel_result)

df.replace(fuel_result,inplace=True)
df.head()

7
{'Hybrid': 1, 'Petrol': 2, 'Diesel': 3, 'CNG': 4, 'Plug-in Hybrid': 5, 'LPG': 6, 'Hydrogen': 7}

/tmp/ipykernel_1887/3351001341.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(fuel_result,inplace=True)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,1,1,1,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018,2,2,2011,1,0,2,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,-,3,3,2006,2,0,2,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862,4,4,2011,1,1,1,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446,3,3,2014,2,1,2,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [25]:
df.describe()

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Cylinders,Airbags
count,1.730600e+04,17306.000000,17306.000000,17306.000000,17306.000000,17306.000000,17306.000000,17306.000000,17306.000000,17306.000000
mean,1.744961e+04,8.010863,143.896279,2011.056974,2.636889,0.740899,2.251647,2.376667,4.568242,6.493702
std,2.006192e+05,6.889905,262.065702,5.636826,1.685642,0.438154,1.137399,6.174598,1.175546,4.328332
min,1.000000e+00,1.000000,1.000000,1939.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,4.547000e+03,5.000000,8.000000,2010.000000,1.000000,0.000000,2.000000,1.800000,4.000000,4.000000
50%,1.227650e+04,6.000000,40.000000,2012.000000,3.000000,1.000000,2.000000,2.000000,4.000000,4.000000
75%,2.110300e+04,8.000000,151.000000,2015.000000,3.000000,1.000000,3.000000,2.500000,4.000000,12.000000
max,2.630750e+07,65.000000,1590.000000,2020.000000,11.000000,1.000000,7.000000,571.000000,16.000000,16.000000

Problem: column Engine Volume doesnt show up in df.describe() even though there should only be numeric values inside
Solution: Search for != Integers and delete rows / adjust data inside the cells

In [ ]:

# source: https://www.geeksforgeeks.org/python/check-for-nan-in-pandas-dataframe/
#print(df["Engine volume"].isnull().sum())
# => no Null values

#print(df["Engine volume"].dtypes)
#=> alles object datatypes

#dataframe to numeric casten, everything else is gonna be NaN and remove them from the dataset
# source: docs https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html
df["Engine volume"] = pd.to_numeric(df["Engine volume"],errors="coerce")
# result: ~1700 rows => too much for manual adjustment => remove rows 
df.dropna(how='any',axis=0,inplace=True)
df["Engine volume"].describe()

count    17306.000000
mean         2.376667
std          6.174598
min          0.000000
25%          1.800000
50%          2.000000
75%          2.500000
max        571.000000
Name: Engine volume, dtype: float64

In [ ]:
df.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,1,1,1,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018,2,2,2011,1,0,2,3.0,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,-,3,3,2006,2,0,2,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862,4,4,2011,1,1,1,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446,3,3,2014,2,1,2,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

## Remove "km" suffix from Mileage column

In [51]:
#this throws an error, now that it isnt an object anymore
#df["Mileage"] = df["Mileage"].str.replace(" km", "")

df.describe()
print(df["Mileage"].dtype)
#problem: column mileage still not getting detected as numeric
df["Mileage"] = pd.to_numeric(df["Mileage"],errors="coerce")
df.describe()

int64

,Price,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Airbags
count,1.730600e+04,17306.000000,17306.000000,17306.000000,17306.000000,17306.000000,17306.000000,17306.000000,1.730600e+04,17306.000000,17306.000000
mean,1.744961e+04,8.010863,143.896279,2011.056974,2.636889,0.740899,2.251647,2.376667,1.556669e+06,4.568242,6.493702
std,2.006192e+05,6.889905,262.065702,5.636826,1.685642,0.438154,1.137399,6.174598,4.834610e+07,1.175546,4.328332
min,1.000000e+00,1.000000,1.000000,1939.000000,1.000000,0.000000,1.000000,0.000000,0.000000e+00,1.000000,0.000000
25%,4.547000e+03,5.000000,8.000000,2010.000000,1.000000,0.000000,2.000000,1.800000,7.099400e+04,4.000000,4.000000
50%,1.227650e+04,6.000000,40.000000,2012.000000,3.000000,1.000000,2.000000,2.000000,1.260000e+05,4.000000,4.000000
75%,2.110300e+04,8.000000,151.000000,2015.000000,3.000000,1.000000,3.000000,2.500000,1.881940e+05,4.000000,12.000000
max,2.630750e+07,65.000000,1590.000000,2020.000000,11.000000,1.000000,7.000000,571.000000,2.147484e+09,16.000000,16.000000

## Gear box type mapping

In [55]:
unique_gear = df["Gear box type"].unique()
print(len(unique_gear))
gear_result = {unique: i+1 for i, unique in enumerate(unique_gear)}
print(gear_result)

df.replace(gear_result,inplace=True)
df.head()

4
{np.int64(1): 1, np.int64(2): 2, np.int64(3): 3, np.int64(4): 4}

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,1,1,1,3.5,186005,6.0,1,4x4,04-May,Left wheel,Silver,12
1,16621,1018,2,2,2011,1,0,2,3.0,192000,6.0,2,4x4,04-May,Left wheel,Black,8
2,8467,-,3,3,2006,2,0,2,1.3,200000,4.0,3,Front,04-May,Right-hand drive,Black,2
3,3607,862,4,4,2011,1,1,1,2.5,168966,4.0,1,4x4,04-May,Left wheel,White,0
4,11726,446,3,3,2014,2,1,2,1.3,91901,4.0,1,Front,04-May,Left wheel,Silver,4

## Drive Wheels Mapping

In [56]:
unique_wheels = df["Drive wheels"].unique()
print(len(unique_wheels))
wheels_result = {unique: i+1 for i, unique in enumerate(unique_wheels)}
print(wheels_result)

df.replace(wheels_result,inplace=True)
df.head()

3
{'4x4': 1, 'Front': 2, 'Rear': 3}

/tmp/ipykernel_1887/1985282800.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(wheels_result,inplace=True)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,1,1,1,3.5,186005,6.0,1,1,04-May,Left wheel,Silver,12
1,16621,1018,2,2,2011,1,0,2,3.0,192000,6.0,2,1,04-May,Left wheel,Black,8
2,8467,-,3,3,2006,2,0,2,1.3,200000,4.0,3,2,04-May,Right-hand drive,Black,2
3,3607,862,4,4,2011,1,1,1,2.5,168966,4.0,1,1,04-May,Left wheel,White,0
4,11726,446,3,3,2014,2,1,2,1.3,91901,4.0,1,2,04-May,Left wheel,Silver,4

## Doors Mapping

In [57]:
unique_doors = df["Doors"].unique()
print(len(unique_doors))
doors_result = {unique: i+1 for i, unique in enumerate(unique_doors)}
print(doors_result)

df.replace(doors_result,inplace=True)
df.head()

3
{'04-May': 1, '02-Mar': 2, '>5': 3}

/tmp/ipykernel_1887/2406772073.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(doors_result,inplace=True)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,1,1,1,3.5,186005,6.0,1,1,1,Left wheel,Silver,12
1,16621,1018,2,2,2011,1,0,2,3.0,192000,6.0,2,1,1,Left wheel,Black,8
2,8467,-,3,3,2006,2,0,2,1.3,200000,4.0,3,2,1,Right-hand drive,Black,2
3,3607,862,4,4,2011,1,1,1,2.5,168966,4.0,1,1,1,Left wheel,White,0
4,11726,446,3,3,2014,2,1,2,1.3,91901,4.0,1,2,1,Left wheel,Silver,4

## Wheel Mapping

In [58]:
unique_wheel = df["Wheel"].unique()
print(len(unique_wheel))
wheel_result = {unique: i+1 for i, unique in enumerate(unique_wheel)}
print(wheel_result)

df.replace(wheel_result,inplace=True)
df.head()

2
{'Left wheel': 1, 'Right-hand drive': 2}

/tmp/ipykernel_1887/1493574570.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(wheel_result,inplace=True)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,1,1,1,3.5,186005,6.0,1,1,1,1,Silver,12
1,16621,1018,2,2,2011,1,0,2,3.0,192000,6.0,2,1,1,1,Black,8
2,8467,-,3,3,2006,2,0,2,1.3,200000,4.0,3,2,1,2,Black,2
3,3607,862,4,4,2011,1,1,1,2.5,168966,4.0,1,1,1,1,White,0
4,11726,446,3,3,2014,2,1,2,1.3,91901,4.0,1,2,1,1,Silver,4

## Color Mapping

In [59]:
unique_color = df["Color"].unique()
print(len(unique_color))
color_result = {unique: i+1 for i, unique in enumerate(unique_color)}
print(color_result)

df.replace(color_result,inplace=True)
df.head()

16
{'Silver': 1, 'Black': 2, 'White': 3, 'Grey': 4, 'Blue': 5, 'Green': 6, 'Red': 7, 'Sky blue': 8, 'Orange': 9, 'Yellow': 10, 'Brown': 11, 'Golden': 12, 'Beige': 13, 'Carnelian red': 14, 'Purple': 15, 'Pink': 16}

/tmp/ipykernel_1887/277343412.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(color_result,inplace=True)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,1,1,2010,1,1,1,3.5,186005,6.0,1,1,1,1,1,12
1,16621,1018,2,2,2011,1,0,2,3.0,192000,6.0,2,1,1,1,2,8
2,8467,-,3,3,2006,2,0,2,1.3,200000,4.0,3,2,1,2,2,2
3,3607,862,4,4,2011,1,1,1,2.5,168966,4.0,1,1,1,1,3,0
4,11726,446,3,3,2014,2,1,2,1.3,91901,4.0,1,2,1,1,1,4

In [ ]:
df.to_csv("datasets/manipulation/result.csv")
# save dataframe to new csv file